<div>
    <h1 style="font-family: Arial; font-size : 4rem; color: white; text-align:center; background-color : hsl(191, 100%, 26%); padding: .5rem;">URL Shortener</h1>
</div>
<div class="container">
    <br>
    <form action="/index" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Enter URL" name="url">
        </div>
        <div class="form-group">
            <button class="btn btn-success" style="float: right;" type="submit">Submit</button>
        </div>
    </form>
    <br>
    <br>
    <h2>Short URL's</h2>
    <p>All the converted short URL's for the customers</p>            
    <table class="table">
        <thead>
        <tr>
            <th>URL</th>
            <th>Short URL</th>
            <th>Number of clicks</th>
        </tr>
        </thead>
        <tbody>
            <% Array.from(allUrl).forEach(url => { %>
                <tr>
                    <td><%= url.Url %></td>
                    <form action="/index/<%= url.ShortUrl %>?_method=PUT" method="POST">
                        <td><button style="background: none!important;
                            border: none;
                            padding: 0!important;
                            font-family: arial, sans-serif;
                            color: #069;
                            text-decoration: underline;
                            cursor: pointer;">http://localhost:5000/index<%= url.ShortUrl %></button></td>
                        <td><%=url.Clicks %></td>
                    </form>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>